---
layout: default
title: "All Tags"
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

{% assign tags_array = "" | split: "" %}

{% for tag in site.tags %}
 {% assign tag_size = tag[1] | size | prepend: '0000' | slice: -4, 4 %}
 {% assign tag_info = tag_size | append: '#' | append: tag[0] %}
 {% assign tags_array = tags_array | push: tag_info %}
{% endfor %}

{% assign sorted_tags = tags_array | sort | reverse %}

<ul class="tags-list">
 {% for tag_info in sorted_tags %}
   {% assign tag_parts = tag_info | split: '#' %}
   {% assign tag_name = tag_parts[1] %}
   {% assign tag_size = tag_parts[0] | plus: 0 %}
   <li class="tag-item">
     <a href="/tags/{{ tag_name }}/" class="tag-link">
       {{ tag_name }} <span class="post-count">({{ tag_size }})</span>
     </a>
   </li>
 {% endfor %}
</ul>