<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="NxbL9DcK7ri83WK70Dnji6NThYIfN6N8uz5n-58cS00" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <meta name="description" content="개발자 장지창의 기술 블로그입니다. 백엔드 개발, 사이드 프로젝트 등 다양한 이야기를 담고 있어요.">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://jangjichang.github.io/">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MX2JHNM2YV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MX2JHNM2YV');
  </script>

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
</head>