---
layout: default
---

<h1>Category: {{ page.category_name }}</h1>

<div class="post-list">
  {% assign category = page.category_name %}
  {% assign posts = site.categories[category] %}

  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <div class="post-item">
            <a href="{{ post.url | relative_url }}" class="post-title">{{ post.title | downcase }}</a>
            <span>{{ post.date | date: site.theme_config.date_format }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts in this category.</p>
  {% endif %}
</div>